#------------------------------------------------------------------------------
# Available services configuration. To enable a service, uncomment the corresponding line below.
#------------------------------------------------------------------------------

server=nginx            # Web Server: nginx, apache
;database=postgres      # Database Service: postgres, mysql, mongodb
;cache=redis            # Cache Service: redis, memcached
;search=elasticsearch   # Search: elasticsearch, solr
;message=kafka          # Message Broker: rabbitmq, kafka
;docs=swagger           # API Documentation: swagger
;mailer=mailhog         # Mail Sandbox: mailhog, papercut
;monitoring=grafana     # Monitoring: zabbix, grafana