#------------------------------------------------------------------------------
# Available services configuration.
#------------------------------------------------------------------------------

# Web Server: nginx, apache
server=nginx

# Cache Service: redis, memcached
cache=redis

# Database Service: postgres, mysql, mongodb
database=postgres

# Message Broker: rabbitmq, kafka
message=rabbitmq

# API Documentation: swagger
docs=swagger

#------------------------------------------------------------------------------
# Service Management:
#   Enable service:  config=${server},${database},${cache},${message}
#   Disable service: config=${server},${database},${cache}             # message removed
#------------------------------------------------------------------------------
config=${server},${database},${cache},${message},${docs}
